body {
    font-family: Arial, sans-serif;
    background-color: #949494;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.persona {
    background: #74748f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Prevents image stretching */
}

.bio{
    border:2px solid #a5b4bb;
    padding: 25px;
    border-radius: 25px;
}
.details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}


.column {
    width: 45%;
    border: 2px solid #2c1a1a;
    width: 300px;
    padding: 25px;
    box-shadow: 10px 10px 5px 12px rgba(71, 54, 54, 0.5);
    text-align: center;

}


/* Add your own colors below based on your Vibe! */
h1 { color: #4A5568; }
h3 { color: #2D3748; border-bottom: 2px solid #1A202C; }
